* {
  font-family: "Quicksand", sans-serif !important;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
}

body {
  background-image: url(./assets/background.jpg);
  margin: 0;
  height: 100vh;
}

@media (max-width: 990px) {
  body{
    background-image: url(./assets/background990px.jpg);
  }

  
  
}